<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayboot.housecalculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- SDK 3.0新增权限，建议使用(可选) -->

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android active 数据库使用 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Provident.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <!-- android active 数据库使用 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="51dee65456240b560c01c91c" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="baidu" />
        <!-- 注册AppActivity -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <!-- 您从百度移动联盟网站获取的APPSID -->
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="a8090600" />
        <!-- 您从百度移动联盟网站获取的计费名 -->
        <meta-data
            android:name="BaiduMobAd_APP_SEC"
            android:value="a8090600" />

        <activity
            android:name="com.rayboot.housecalculator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rayboot.housecalculator.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.rayboot.housecalculator.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />

        <meta-data
            android:name="api_key"
            android:value="m1KssPRw2jaEkapgttwDMG3Y" />
    </application>

</manifest>